[Unit]
Description=One Drive (rclone)
AssertPathIsDirectory=/home/cccn/mtn/onedriver

[Service]
Type=simple
ExecStart=/bin/rclone mount onedriver: /home/cccn/mtn/onedriver
ExecStop=/bin/systemd-umount -u /home/cccn/mtn/onedriver
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
