[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=/home/cccn/mnt/googledriver

[Service]
Type=simple
ExecStart=/bin/rclone mount googledriver:rclone /home/cccn/mnt/googledriver \
--allow-other \
--dir-cache-time 1000h \
--log-level INFO \
--log-file /home/cccn/rclone/rclone.log \
--poll-interval 15s \
--umask 002 \
--cache-dir=/home/cccn/cache/googledriver \
--vfs-cache-mode full \
--vfs-cache-max-size 100G \
--vfs-cache-max-age 120h \
--bwlimit-file 16M
ExecStop=/bin/systemd-umount -u /home/cccn/mnt/googledriver
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
